fastapi==0.115.0
fastjsonschema==2.16.2
h5py==3.12.1
httplib2==0.22.0
keras==3.7.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
matplotlib==3.6.0
mediapipe --no-binary=mediapipe
numpy==1.26.4
opencv-contrib-python==4.9.0.80
pandas==1.5.1
Pillow==9.2.0
postgres==4.0
protobuf==4.25.3
psycopg2-binary==2.9.9
psycopg2-pool==1.2
requests==2.31.0
requests-oauthlib==2.0.0
scikit-learn==1.1.2
scipy==1.14.1
SQLAlchemy==1.4.41
sqlparse==0.4.3
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorflow==2.17.1
tensorflow-estimator==2.15.0
tensorflow-intel==2.17.1
tensorflow-io-gcs-filesystem==0.31.0
uv==0.2.35
uvicorn==0.31.0
gunicorn==23.0.0
